h1{
    color: white;
    margin-left: 46%;
}

form {
max-width: 500px;
margin-left: 34%;
border: 2px solid black;
padding: 20px;
}

label {
display: block;
font-size: 18px;
margin-top: 20px;
color: white;
}

input {
width: 100%;
padding: 10px;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
margin-top: 5px;
margin-bottom: 20px;
font-size: 16px;
}

input[type="submit"] {
background-color: brown;
color: white;
padding: 12px 20px;
border: none;
border-radius: 4px;
cursor: pointer;
font-size: 16px;
}

input[type="submit"]:hover {
background-color: #45a049;
}


header {
display: flex;
justify-content: space-between;
align-items: center;
width: 76%;
}

.logo img {
height: 100px;
width: 120px;
cursor: pointer;
}

.text {
font-size: 50px;
color: white;
background-color: #333;
}
.right button{
  margin-top: 20px;
    border: 2px soild red;
    background-color:rgba(253, 196, 9, 0) ;
    color: white;
    font-size: large;
    cursor: pointer;
    border-radius: 10px;
}

    .right{
       position: absolute;
       right: 34px;
       top: 22px;
       display: inline-block;
}
nav {
background-color: #333;
color: white;
display: flex;
justify-content: space-between;
align-items: center;
padding-left: 10px;
margin-left: 33%;
margin-right: 29.5%;
}

ul {
list-style: none;
margin: 0;
padding: 0;
display: flex;
}

li {
float: left;
}
a {
display: block;
color: white;
text-align: center;
padding: 14px 50px;
text-decoration: none;
}

a:hover {
background-color: black;
}