nav {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    margin-left: 33%;
    margin-right: 29.5%;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  li {
    float: left;
  }
  a {
    display: block;
color: white;
text-align: center;
padding: 14px 50px;
text-decoration: none;
  }

  a:hover {
    background-color: black;
  }
    header {
display: flex;
justify-content: space-between;
align-items: center;
width: 76%;
}

.logo img {
height: 100px;
width: 120px;
cursor: pointer;
}

.text {
font-size: 50px;
color: white;
background-color: #333;
}
.right button{
      margin-top: 20px;
        border: 2px soild red;
        background-color:rgba(253, 196, 9, 0) ;
        color: white;
        font-size: large;
        cursor: pointer;
        border-radius: 10px;
    }

        .right{
           position: absolute;
           right: 34px;
           top: 22px;
           display: inline-block;
}



    form {
      max-width: 500px;
      margin-left: 33%;
      padding: 35px;
      border: 1px solid black;
      border-radius: 10px;
      
    }

    label {
      display: block;
      font-weight: bold;
      margin-bottom: 10px;
      color: aliceblue;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"] {
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 16px;
      
    }

    input[type="submit"] {
      background-color: brown;
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
    }

    input[type="submit"]:hover {
      background-color: brown;
    }